# Intro to Python Exercise Workbook

In this workbook, you will see text prompts containing the exercise prompts - you will write the code that will supply the answer within code blocks and run these blocks.

## Part 1: Variables

#### 1. Alter and run the block of code below. Currently, the script will print a string that says `goodbye moon`. Alter this so the string prints, `hello world!`)

In [1]:
print("goodbye moon")

goodbye moon

#### 2. Create a variable with any name you would like to use, and store within that variable the string `do not fear error messages`. Display the result of this variable.

#### 3. Create a variable called equation, and store `1 + 2  * 3`, and display the result of this equation

#### 4. Complete line 4, so this script will producing the print statement `first is: 2 and second is: 10`

In [ ]:
first = 1
second = 5 * first
first = 2
second = 
print('first is:', first, 'and second is:', second)

## Part 2: Data Types

#### In this section, you will be using the variables created in the code below. Run the block containing these variables to create them, but do not alter the contents of this block.

In [ ]:
samples = 2
type_test = "4"
database = "The Basic Local Alignment Search Tool (BLAST)"
organization = "NCBI"

#### 5. Check the data types of each of the varibles

#### 6. Print the length of `database`.

#### 7. Convert `type_test` to an integer value.

#### 8. Using slicing, print only the acronym `BLAST` from the database variable.

## Part 3: Functions and Lists

#### 1. Create and return (print) a list called `x`, storing the following numbers: 23, 34, 54, 65, 45, 23, 34, 55.

#### 2. Python provides basic statistics functions including mean(), median(), and mode(). These functions are a part of the `statistics` package. Import the `statistics` package below.

#### 3. Use the `help()` function to learn about the `mean()` function

Help on function mean in module statistics:

mean(data)
    Return the sample arithmetic mean of data.

    >>> mean([1, 2, 3, 4, 4])
    2.8

    >>> from fractions import Fraction as F
    >>> mean([F(3, 7), F(1, 21), F(5, 3), F(1, 3)])
    Fraction(13, 21)

    >>> from decimal import Decimal as D
    >>> mean([D("0.5"), D("0.75"), D("0.625"), D("0.375")])
    Decimal('0.5625')

    If ``data`` is empty, StatisticsError will be raised.

#### 4. Use `mean()` to find the average of `x`.

41.625

#### 5. Use `append()` to add the number 100 to x as a new list item, and print x.

[23, 34, 54, 65, 45, 23, 34, 55, 100, 100]

#### 6. Create a new list containing the numbers 200, 300, and 400. Use the `extend()` method to combine this new list with  `x`. Print the result.

[23, 34, 54, 65, 45, 23, 34, 55, 100, 100, 200, 300, 400]

## Part 4: For Loops

#### 1. Use a for loop to return each of the numbers stored in x, preceeded by the string "result: ". 
#### The output should look like `result: returned_number_from_x`.

#### 2. For each number in list `x`, print: 
    * The result of each number plus 21. 
    * Each number multiplied by itself.
    * The result the average of x minus each number.

## Part 5: Pandas and Data Frames

#### 1. Import the Pandas library as pd

 #### 2. Read in the gapminder dataset (the same one used in the class workbook) as a variable called `data`. Be sure to set the index column to `country`.

#### 3. Print the reported HIV rate for Tanzania in 1997

#### 4. Print all reported years of HIV rates from Brazil, and all repored HIV rates from the year 2001 in seperate print statements.

#### 5. Create a data subset that contains the countries Papua New Guinea, Thailand, Indonesia, Malaysia, and Philippines for the years 2005 through 2010.

## Part 6: For Loops

#### 1. Fill in the blanks below, to write a program that checks how the cost of an in a list of costs relates to the specified price point.

In [51]:
costs = [700, 500, 2000, 1000, 1100, 500, 10000]
price_point = 1000

for cost in costs:
    if :
        print("This cost is under budget")
    elif :
        print("This cost is exactly at the price point")
    else:
        print("This cost is over the price point")

This cost is under budget
This cost is under budget
This cost is over the price point
This cost is exactly at the price point
This cost is over the price point
This cost is under budget
This cost is over the price point

#### 2. Fill in the blanks below, so this program creates `new_list` that contains zeroes where the `original_list`'s values where negative, and ones where the original list's values were positive. Print the new list.

In [48]:
original_list = [-1.5, 0.2, 0.4, -1.3, 0.4]
new_list = []
for value in original_list:
    if :
        new_list.append()
    else:
        new_list.append()
print()

[0, 1, 1, 0, 1]