# Intro to Python Exercise Workbook

In this workbook, you will see text prompts containing the exercise prompts - you will write the code that will supply the answer within code blocks and run these blocks.

## Part 1: Variables

#### 1. Alter and run the block of code below. Currently, the script will print a string that says `goodbye moon`. Alter this so the string prints, `hello world!`)

In [1]:
print("hello world!")

hello world!

#### 2. Create a variable with any name you would like to use, and store within that variable the string `do not fear error messages`. Display the result of this variable.

In [ ]:
test = "do not fear error messages"
print(equation)

#### 3. Create a variable called equation, and store `1 + 2  * 3`, and display the result of this equation

In [ ]:
equation = 1 + 2 * 3
print(equation)

#### 4. Complete line 4, so this script will producing the print statement `first is: 2 and second is: 10`

In [ ]:
first = 1
second = 5 * first
first = 2
second = 
print('first is:', first, 'and second is:', second)

## Part 2: Data Types

#### In this section, you will be using the variables created in the code below. Run the block containing these variables to create them, but do not alter the contents of this block.

In [ ]:
samples = 2
type_test = "4"
database = "The Basic Local Alignment Search Tool (BLAST)"
organization = "NCBI"

#### 5. Check the data types of each of the varibles

In [ ]:
print(type(samples))
print(type(type_test))
print(type(database))
print(type(organization))

#### 6. Print the length of `database`.

In [ ]:
print(len(database))

#### 7. Convert `type_test` to an integer value.

In [ ]:
print(int(type_test))

#### 8. Using slicing, print only the acronym `BLAST` from the database variable.

In [ ]:
print(database[39:44])

## Part 3: Functions and Lists

#### 1. Create and return (print) a list called `x`, storing the following numbers: 23, 34, 54, 65, 45, 23, 34, 55.

In [10]:
x = [23, 34, 54, 65, 45, 23, 34, 55]
print(x)

[23, 34, 54, 65, 45, 23, 34, 55]

#### 2. Python provides basic statistics functions including mean(), median(), and mode(). These functions are a part of the `statistics` package. Import the `statistics` package below.

In [11]:
import statistics

#### 3. Use the `help()` function to learn about the `mean()` function

In [15]:
help(statistics.mean)

Help on function mean in module statistics:

mean(data)
    Return the sample arithmetic mean of data.

    >>> mean([1, 2, 3, 4, 4])
    2.8

    >>> from fractions import Fraction as F
    >>> mean([F(3, 7), F(1, 21), F(5, 3), F(1, 3)])
    Fraction(13, 21)

    >>> from decimal import Decimal as D
    >>> mean([D("0.5"), D("0.75"), D("0.625"), D("0.375")])
    Decimal('0.5625')

    If ``data`` is empty, StatisticsError will be raised.

#### 4. Use `mean()` to find the average of `x`.

In [17]:
print(statistics.mean(x))

41.625

#### 5. Use `append()` to add the number 100 to x as a new list item, and print x.

In [21]:
x.append(100)
print(x)

[23, 34, 54, 65, 45, 23, 34, 55, 100, 100]

#### 6. Create a new list containing the numbers 200, 300, and 400. Use the `extend()` method to combine this new list with  `x`. Print the result.

In [22]:
y = [200, 300, 400]
x.extend(y)
print(x)

[23, 34, 54, 65, 45, 23, 34, 55, 100, 100, 200, 300, 400]

## Part 4: For Loops

#### 1. Use a for loop to return each of the numbers stored in x, preceeded by the string "result: ". 
#### The output should look like `result: returned_number_from_x`.

In [23]:
for i in x:
    print("result: ", i)

result:  23
result:  34
result:  54
result:  65
result:  45
result:  23
result:  34
result:  55
result:  100
result:  100
result:  200
result:  300
result:  400

#### 2. For each number in list `x`, print: 
    * The result of each number plus 21. 
    * Each number multiplied by itself.
    * The result the average of x minus each number.

In [24]:
for i in x:
    first_eq = i + 21
    second_eq = i * i 
    third_eq = statistics.mean(x) - i
    print(first_eq, second_eq, third_eq)

44 529 87.23076923076923
55 1156 76.23076923076923
75 2916 56.230769230769226
86 4225 45.230769230769226
66 2025 65.23076923076923
44 529 87.23076923076923
55 1156 76.23076923076923
76 3025 55.230769230769226
121 10000 10.230769230769226
121 10000 10.230769230769226
221 40000 -89.76923076923077
321 90000 -189.76923076923077
421 160000 -289.7692307692308

## Part 5: